<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome page of Trillboards</title>
</head>
<style>
    .account_sucess{
    margin-top: 15px;
    background: linear-gradient(#fe6f01, #ca4309);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    }
</style>
<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">

        <div
            style="margin:50px auto;width:70%;padding: 20px 32px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <img src="https://trillboard-admin.netscapelabs.com/login/static/media/trillboards_logo.  d821df157383d85117b7917d6a97eb14.svg" alt="" style="  width: 70px;
        height: 70px;">
            <div style="border-bottom:1px solid #eee">
                <a href="" style="font-size:1.4em;color: #fe6f01;text-decoration:none;font-weight:600">Welcome to
                    Trillboards!</a>
            </div>
            <p style="font-size:1.6em">Dear <%=name%>,</p>
            <p style="font-size:16px;">You have requested to log in to your account. Please use the following One-Time Password (OTP) to proceed with the login process:
            </p>
            <p style="font-size:16px;text-decoration:none;">OTP : <%=otp%></a>
            </p>
        </div>
    </div>
</body>
</html>